@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

.head
	background: black
.header-top-wrap
	border-bottom 1px solid #323131
.header-top
	f()
	align-items: center
	color white
.header-top__location
	f()
	tr(all)
	opacity:.5
	align-items: center
	margin-right: 50px
	&:hover
		opacity:1
	.icon
		size 20px
		margin-right: 15px
		fill white
	span
		color white
.header-top__nav
	f()
	height: 100%
.header-top__nav-el
	color white
	opacity .5
	margin-right: 30px
	display: inline-block
	padding: 20px 0
	tr(all)
	&:hover
		color white
		opacity:1

.header-top__auth
	margin-left: auto
.header-top__reg
	color white
	opacity:.5
	tr(all)
	display: block
	margin-left: auto
	&:hover
		color white
		opacity:1
.header-top__enter
	padding: 20px 0
	display: inline-block
	border-left 1px solid #323131
	border-right 1px solid #323131
	margin-left: 20px
	width: 110px
	flex(mid)
	.icon
		opacity .5
		size 16px
		fill white
		margin-right: 15px
	span
		color white
.header
	f()
.logo
	flex(mid)
	width: 270px
	&:hover
		.logo-title
			opacity: 1
		.logo-text
			opacity: 1

.logo-img
	img
		width: 70px
	margin-right: 30px
.logo-cont
	width calc(100% - 104px)
	color white
.logo-title
	tr(all)
	font-size 22px
	font-weight 700
	letter-spacing 0.55px
	text-transform uppercase
	opacity: .7
	margin-bottom: 5px

.logo-text
	tr(all)
	line-height: 1.6
	opacity: .5
	font-size: 12px
.header-phone
	flex(mid)
	fl()
	padding: 0 40px
.header-phone__el
	tr(all)
	color white
	display: block
	font-size: 20px
	font-weight 700
	letter-spacing 0.5px
	&:hover
		color $yellow
	&:first-child
		margin-bottom: 10px
.header-search
	flex-grow 1
	position: relative
	border-left 1px solid #323131
	border-right 1px solid #323131
	flex(mid)
	form
		width: 100%
	.icon
		size 18px
		position: absolute
		right: 10%
		cp()
	.input
		border 0
		background: none
		width: 100%
		color white
		padding-right: 20%
.header-conf
	f()
.header-conf__el
	flex(mid)
	fl()
	border-right 1px solid #323131
	border-left 1px solid #323131
	margin-left: -1px
	size 110px
	&:hover
		.header-conf__el-text
			color $yellow
.header-conf__el-icon
	margin: 10px 0
	position: relative
	.icon
		size 30px
		fill $yellow
.header-conf__el-text
	tr(all)
	color white
	text-align: center
.header-conf__el-val
	size 24px
	background: $yellow
	round()
	flex(mid)
	font-size: 12  px
	border 2px solid black
	position: absolute
	right: -12px
	top -6px
.nav-wrap
	position: relative
	&:before
		content ''
		position: absolute
		height: 100%
		width: 50%
		left 0
		top 0
		background: #292929
	&:after
		content ''
		position: absolute
		height: 100%
		width: 50%
		right 0
		top 0
		background: $yellow
.nav
	f()

.nav-drop
	display: none
	position: absolute
.nav-el
	background:$yellow
	font-weight:700
	text-align: center
	position: relative
	z-index 2
	&:hover
		a
			opacity:.6
	span
		color white
		up()
	a
		tr(all)
		display: block
		color white
		padding: 18px 0
		up()

.nav-list
	flex(between)
	width calc(100% - 200px)
	.nav-el
		flex-grow 1
.nav-el-menu
	width: 200px
	flex(mid)
	cp()
	background: #292929
	justify-content: flex-start
	.icon
		size 16px
		fill white
		margin-right: 20px
	.icon-close
		display: none
//.icon-open



.section-slider
	background: #f1f1f1
	padding: 55px 0 35px 0
	.slick-slide
		margin: 0 15px
	.slick-list
		margin: 0 -15px
	.slider-control
		tr(all)
		position: absolute
		top 50%
		margin-top: -18px
		z-index 10
		cp()
		&:hover
			.icon
				opacity:1
		.icon
			size 18px
			opacity:.8
	.slider-control--left
		left -40px
	.slider-control--right
		right -40px
.type-slider__el
	flex(mid)
	fl()
	bsh()
	br(3px)
	tr(all)
	size 170px
	display: flex !important
	padding: 25px 10px 30px 10px
	background: white
	margin-bottom: 20px
	&:hover
		box-shadow 0 8px 24px rgba(0, 0, 0, 0.16)
		.type-slider__el-title
			color $yellow
			opacity: 1
.type-slider__el-img
	margin-bottom: 20px
	margin-top: auto
	margin-left: auto
	margin-right: auto
.type-slider__el-title
	up()
	tr(all)
	text-align: center
	opacity: .3
	font-weight: 700
	margin-top: auto
.info-wrap
	padding: 80px 0 100px 0
//.info
.info-title
	@extend .type--lg
	up()
	font-weight: 700
	text-align: center
	margin-bottom: 25px
.info-text
	center(770px,0)
	text-align: center
	line-height: 1.6
	margin-bottom: 40px
.info-type
	f()
	justify-content: space-between
.info-type__el
	padding: 50px 10px 35px 10px
	flex(mid)
	fl()
	width: 32%
	border-radius 3px
	border 1px solid #e9e9e9
	&:nth-child(2)
		.icon
			size 55px
	&:nth-child(3)
		.icon
			size 55px
.info-type__el-icon
	margin-bottom: 25px
	margin-top: auto
	.icon
		size 80px
		fill $yellow
.info-type__el-title
	@extend .type--lg
	margin-top: auto
	font-weight: 700
	margin-bottom: 15px
	text-align: center
	up()
	letter-spacing 0.2px
.info-type__el-text
	text-align: center
.footer-top-wrap
	background: #292929
	color white
.footer-top
	f()
	align-items: stretch
.footer-top__copy
	color white
	margin-right: 50px
	f()
	align-items: center
.footer-top__lk
	flex(mid)
	color white
	border-left 1px solid #323131
	border-right 1px solid #323131
	padding: 35px 20px
	.icon
		size 16px
		margin-right: 10px
		fill $yellow
.footer-top__politick
	color white
	f()
	align-items: center
	margin-left: auto
	margin-right: 50px
.footer-top__soc
	border-left 1px solid #323131
	border-right 1px solid #323131
	flex(mid)
	padding: 10px 30px
	margin-left: -1px
	&:hover
		.icon
			opacity: 1
	.icon
		tr(all)
		size 24px
		fill white
		opacity: .5
.footer-wrap
	background:black
	color white
.footer
	f()
.footer__menu
	padding-top: 45px
	width: 20%
	&:first-child
		width: 15%
.footer__menu-title
	@extend .type--md
	font-weight 700
	opacity:.5
	up()
	margin-bottom: 20px
.footer__menu__el
	color white
	display: block
	margin-bottom: 20px
.footer-location
	border-left 1px solid #323131
	border-right 1px solid #323131
	padding: 45px 30px
	width: 35%
	margin-left: 20px
	position: relative
	.slider-control
		tr(all)
		z-index 10
		cp()
		&:hover
			.icon
				opacity:1
		.icon
			size 18px
			opacity:.8
			fill white
	.slider-control-wrap
		flex(mid)
	.slider-control--right
		margin-left: 30px
.footer-location__title
	@extend .type--md
	font-weight 700
	opacity:.5
	up()
	margin-bottom: 25px
	flex(between)
//.footer-slider
//.footer-slider__el
.footer-location__item
	f()
	margin-bottom: 30px
.footer-location__icon
	margin-right: 20px
	.icon
		size 20px
		fill $yellow
//.footer-location__info
.footer-location__town
	margin-bottom:10px
.footer-location__street
	opacity: .5
	margin-bottom: 10px
.footer-location__phone
	opacity: .5
	color white
	margin-bottom: 3px
.footer-contact
	width: 25%
	padding: 45px 0 0 30px
.footer-contact__title
	@extend .type--md
	font-weight 700
	opacity:.5
	up()
	margin-bottom: 25px
.footer-contact__el
	f()
	margin-bottom: 25px
	a
		color white
		display: block
.footer-contact__icon
	margin-right: 20px
	.icon
		size 18px
		fill $yellow
		margin-top: 3px
//.footer-contact__info
.footer-contact__info-el
	line-height: 1.6