@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(1200px,10px)

.head
	background: black
	z-index 20
	position: relative
.header-top-wrap
	+below(1200px)
		display: none
	border-bottom 1px solid #323131
.header-top
	f()
	align-items: center
	color white
.header-top__location
	f()
	tr(all)
	opacity:.5
	align-items: center
	margin-right: 50px
	&:hover
		opacity:1
	.icon
		size 20px
		margin-right: 15px
		fill white
	span
		color white
.header-top__nav
	f()
	height: 100%
.header-top__nav-el
	color white
	opacity .5
	margin-right: 30px
	display: inline-block
	padding: 20px 0
	tr(all)
	&:hover
		color white
		opacity:1

.header-top__auth
	margin-left: auto
.header-top__reg
	color white
	opacity:.5
	tr(all)
	display: block
	margin-left: auto
	&:hover
		color white
		opacity:1
.header-top__enter
	padding: 20px 0
	display: inline-block
	border-left 1px solid #323131
	border-right 1px solid #323131
	margin-left: 20px
	width: 110px
	flex(mid)
	.icon
		opacity .5
		size 16px
		fill white
		margin-right: 15px
	span
		color white
.header
	+below(1200px)
		display: none
	f()
.logo
	flex(mid)
	width: 270px
	&:hover
		.logo-title
			opacity: 1
		.logo-text
			opacity: 1

.logo-img
	img
		width: 70px
	margin-right: 30px
.logo-cont
	width calc(100% - 104px)
	color white
.logo-title
	tr(all)
	font-size 22px
	font-weight 700
	letter-spacing 0.55px
	text-transform uppercase
	opacity: .7
	margin-bottom: 5px

.logo-text
	tr(all)
	line-height: 1.6
	opacity: .5
	font-size: 12px
.header-phone
	flex(mid)
	fl()
	padding: 0 40px
.header-phone__el
	tr(all)
	color white
	display: block
	font-size: 20px
	font-weight 700
	letter-spacing 0.5px
	&:hover
		color $yellow
	&:first-child
		margin-bottom: 10px
.header-search
	flex-grow 1
	position: relative
	border-left 1px solid #323131
	border-right 1px solid #323131
	flex(mid)
	form
		width: 100%
	.icon
		size 18px
		position: absolute
		right: 10%
		cp()
	.input
		border 0
		background: none
		width: 100%
		color white
		padding-right: 20%
.header-conf
	f()
.header-conf__el
	flex(mid)
	fl()
	border-right 1px solid #323131
	border-left 1px solid #323131
	margin-left: -1px
	size 110px
	&:hover
		.header-conf__el-text
			color $yellow
.header-conf__el-icon
	margin: 10px 0
	position: relative
	.icon
		size 30px
		fill $yellow
.header-conf__el-text
	tr(all)
	color white
	text-align: center
.header-conf__el-val
	size 24px
	background: $yellow
	round()
	flex(mid)
	font-size: 12  px
	border 2px solid black
	position: absolute
	right: -12px
	top -6px
.nav-wrap
	position: relative
	&:before
		content ''
		position: absolute
		height: 100%
		width: 50%
		left 0
		top 0
		background: #292929
	&:after
		content ''
		position: absolute
		height: 100%
		width: 50%
		right 0
		top 0
		background: $yellow
.nav
	+below(1200px)
		display: none
	f()


.nav-el
	background:$yellow
	font-weight:700
	text-align: center
	position: relative
	z-index 2
	&:hover
		a
			opacity:.6
	span
		color white
		up()
	a
		tr(all)
		display: block
		color white
		padding: 18px 0
		up()

.nav-list
	flex(between)
	width calc(100% - 200px)
	.nav-el
		flex-grow 1
.nav-el-menu
	width: 180px
	flex(mid)
	cp()
	background: #292929
	justify-content: flex-start
	.icon
		size 16px
		fill white
		margin-right: 20px
	.icon-close
		display: none
.nav-el-menu--active
	.icon-close
		display: block
	.icon-open
		display: none




.section-slider
	background: #f1f1f1
	padding: 55px 0 35px 0
	.slick-slide
		margin: 0 15px
	.slick-list
		+below(1200px)
			margin: 0
		margin: 0 -15px
	.slider-control
		tr(all)
		position: absolute
		top 50%
		margin-top: -18px
		z-index 10
		cp()
		&:hover
			.icon
				opacity:1
		.icon
			size 18px
			opacity:.8
	.slider-control--left
		left -40px
	.slider-control--right
		right -40px
.type-slider__el
	flex(mid)
	fl()
	bsh()
	br(3px)
	tr(all)
	size 170px
	display: flex !important
	padding: 25px 10px 30px 10px
	background: white
	margin-bottom: 20px
	&:hover
		box-shadow 0 8px 24px rgba(0, 0, 0, 0.16)
		.type-slider__el-title
			color $yellow
			opacity: 1
.type-slider-wrap
	.slider-control
		+below(1280px)
			display: none
.type-slider__el-img
	margin-bottom: 20px
	margin-top: auto
	margin-left: auto
	margin-right: auto
.type-slider__el-title
	up()
	tr(all)
	text-align: center
	opacity: .3
	font-weight: 700
	margin-top: auto
.info-wrap
	+below(640px)
		padding: 30px 0
	padding: 80px 0 100px 0
//.info
.info-title
	@extend .type--lg
	up()
	font-weight: 700
	text-align: center
	margin-bottom: 25px
.info-text
	center(770px,0)
	text-align: center
	line-height: 1.6
	margin-bottom: 40px
.info-type
	+below(640px)
		fw()
	f()
	justify-content: space-between
.info-type__el
	+below(640px)
		width: 100%
		margin-bottom: 20px
		padding: 30px
	padding: 50px 10px 35px 10px
	flex(mid)
	fl()
	width: 32%
	border-radius 3px
	border 1px solid #e9e9e9
	&:nth-child(2)
		.icon
			size 55px
	&:nth-child(3)
		.icon
			size 55px
.info-type__el-icon
	margin-bottom: 25px
	margin-top: auto
	.icon
		size 80px
		fill $yellow
.info-type__el-title
	@extend .type--lg
	margin-top: auto
	font-weight: 700
	margin-bottom: 15px
	text-align: center
	up()
	letter-spacing 0.2px
.info-type__el-text
	text-align: center
.footer-top-wrap
	+below(640px)
		background: black
		padding-top: 10px
	background: #292929
	color white
.footer-top
	+below(640px)
		fw()
		margin-bottom: 40px
	f()
	align-items: stretch
.footer-top__copy
	+below(960px)
		padding: 20px 0
	+below(640px)
		margin-right: 0
		width: 100%
	color white
	margin-right: 50px
	f()
	align-items: center
.footer-top__lk
	+below(960px)
		display: none
	flex(mid)
	color white
	border-left 1px solid #323131
	border-right 1px solid #323131
	padding: 35px 20px
	.icon
		size 16px
		margin-right: 10px
		fill $yellow
.footer-top__politick
	+below(640px)
		width: 100%
		margin-right: 0
	color white
	f()
	align-items: center
	margin-left: auto
	margin-right: 50px
.footer-top__soc
	+below(640px)
		display: none
	border-left 1px solid #323131
	border-right 1px solid #323131
	flex(mid)
	padding: 10px 30px
	margin-left: -1px
	&:hover
		.icon
			opacity: 1
	.icon
		tr(all)
		size 24px
		fill white
		opacity: .5
.footer-wrap
	background:black
	color white
.footer
	f()
.footer__menu
	+below(960px)
		width: 30%
	+below(640px)
		display: none
	padding-top: 45px
	width: 20%
	&:first-child
		+below(960px)
			width: 30%
		width: 15%
.footer__menu-title
	@extend .type--md
	font-weight 700
	opacity:.5
	up()
	margin-bottom: 20px
.footer__menu__el
	color white
	display: block
	margin-bottom: 20px
.footer-location
	+below(960px)
		display: none
	border-left 1px solid #323131
	border-right 1px solid #323131
	padding: 45px 30px
	width: 35%
	margin-left: 20px
	position: relative
	.slider-control
		tr(all)
		z-index 10
		cp()
		&:hover
			.icon
				opacity:1
		.icon
			size 18px
			opacity:.8
			fill white
	.slider-control-wrap
		flex(mid)
	.slider-control--right
		margin-left: 30px
.footer-location__title
	@extend .type--md
	font-weight 700
	opacity:.5
	up()
	margin-bottom: 25px
	flex(between)
//.footer-slider
//.footer-slider__el
.footer-location__item
	f()
	margin-bottom: 30px
.footer-location__icon
	margin-right: 20px
	.icon
		size 20px
		fill $yellow
//.footer-location__info
.footer-location__town
	margin-bottom:10px
.footer-location__street
	opacity: .5
	margin-bottom: 10px
.footer-location__phone
	opacity: .5
	color white
	margin-bottom: 3px
.footer-contact
	+below(960px)
		margin-left: auto
		width: 30%
	+below(640px)
		width: 100%
		padding: 0
	width: 25%
	padding: 45px 0 0 30px
.footer-contact__title
	@extend .type--md
	font-weight 700
	opacity:.5
	up()
	margin-bottom: 25px
.footer-contact__el
	f()
	margin-bottom: 25px
	a
		color white
		display: block
.footer-contact__icon
	margin-right: 20px
	.icon
		size 18px
		fill $yellow
		margin-top: 3px
//.footer-contact__info
.footer-contact__info-el
	line-height: 1.6

.nav-drop
	position: absolute
	top 100%
	left 0
	background: white
	width: 100%
	display: none
	z-index 15
//.main-cont
.nav-drop__wrap
	f()
.nav-drop__list
	width: 25%
	padding: 30px 30px 30px 0
	border-right 1px solid $border-color
.nav-drop__list-el
	flex(between)
	cp()
	border-top 1px solid #eeeeee
	border-bottom 1px solid #eeeeee
	margin-top: -1px
	overflow: hidden
	&:hover
		.nav-drop__list-name
			color $yellow
		.nav-drop__list-val
			color $yellow
.nav-drop__list-el--active
	.nav-drop__list-name
		color $yellow
	.nav-drop__list-val
		color $yellow
		//margin-left: calc(100% - 140px)
	.nav-drop__list-icon
		display: block
		margin-right: 0
		.icon
			fill yellow

.nav-drop__list-name
	tr(all)
	@extend .type--md
	font-weight 700
	letter-spacing 0.4px
	text-transform uppercase
	padding: 10px 0
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis
	display: inline-block
	max-width 200px

.nav-drop__list-val
	tr(all)
	@extend .type--md
	font-weight 700
	margin-left: auto
	//margin-left: calc(100% - 100px)
.nav-drop__list-icon
	tr(all)
	padding-right: 10px
	padding-left: 30px
	margin-right: -30px
	.icon
		size 12px
.nav-drop__sub
	padding: 30px 0 30px 30px
	width: calc(72% - 270px)

.nav-drop__sub-wrap
	display: none
.nav-drop__sub-wrap--active
	display: block
.nav-drop__sub-el
	display: block
	tr(all)
	@extend .type--md
	font-weight 700
	letter-spacing 0.4px
	text-transform uppercase
	padding: 10px 0
	&:hover
		color $yellow
.nav-drop__banner
	padding-top: 30px
	width: 270px
	margin-left: 20px

//modal
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 15
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #18191da1
	width: 100%
	height: 100vh
	min-height 100vh

.scroll-container
	+below(1440px)
		max-height 400px
	position: relative
	max-height 550px

//visible scrollbar
.ps__scrollbar-y-rail
	background-color #eaeaea !important
	opacity 1!important

.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y, .ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y
	width: 10px
.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y
	background-color #ededed
.ps > .ps__scrollbar-y-rail
	width: 10px
	background-color #f6f6f6!important
	opacity 1!important

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  transition: .2s linear left;
  /* maybe other vendor-prefixed transitions */
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  transition: .2s linear top;
  /* maybe other vendor-prefixed transitions */
}

//Добавялем стили для этого элемента
@-webkit-keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

//Анимация из animateCSs
@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.shrink
	position fixed!important
	top 0
	left 0
	background white
	width 100%
	margin 0
	animation:  slideInDown  1s 1 ease-in-out;

.nav-wrap-container
	+below(1200px)
		.main-cont
			padding: 0
	position: relative

.nice-select
	br(0)
	display: block
	color #000000
	font-size 14px
	font-weight 700
	height: 50px
	line-height: 48px
	border-radius 3px
	.current
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		display: inline-block
		+below(1200px)
			max-width 350px
		+below(640px)
			max-width 200px

		max-width 120px
	.list
		width: calc(100% )
		left 0px
		br(0)
		border 0px solid $border-color
		border-top 0
		margin-top: 0
		li
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis

select.select-beauty
	display: none!important

.element-select
	padding: 20px 0

.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid $border-color

.filter-wrap
	+below(1200px)
		display: none
	padding: 25px 0
	border-bottom 1px solid $border-color
	margin-bottom: 35px
//.main-cont
.filter
	+below(1200px)
		fw()
	flex(between)
.filter__el
	+below(1200px)
		width: 100%
		margin-bottom: 20px
	+below(640px)
		fw()
	f()
	align-items: center
	width: 25%
	.nice-select
		width: 100%
.filter__el-name
	+below(1200px)
		width: 30%
	+below(640px)
		width: 100%
		margin-bottom: 20px
	font-weight 700
	margin-right: 20px
.filter__el-list
	flex-grow 1
.filter__el--type
	+below(1200px)
		width: 100%
	+below(640px)
		width: 100%
	width: 40%
	.current
		+below(640px)
			max-width 200px
		max-width 300px
//.select-beauty

.bread
	+below(960px)
		display: none
	+below(640px)
		display: none
	f()
	fw()
	margin-bottom: 20px
.bread__el
	margin-right: 15px
	margin-bottom: 10px
	position: relative
	@extend .type--sm
	opacity .5
	&:after
		content '/'
		position: absolute
		right: -10px
		top 1px
	&:last-child
		&:after
			content ''
			display: none

//.page-wrap
.category-wrap
	+below(960px)
		display: none
		width: 100%
		padding-top: 30px
	width: 20%
	min-width 250px
.page
	+below(1200px)
		margin-top: 30px
	+below(960px)
		fw()
		margin-top: 0
	f()
	justify-content: space-between
.category-title
	up()
	@extend .type--lg
	font-weight 700
	letter-spacing 0.6px
	margin-bottom: 30px
//.category
.category__el
	+below(960px)
		width calc(100% - 40px)
	flex(between)
	cp()
	padding: 15px 0
	width: 85%
.category__el-item
	f()
	fw()
	width: 100%
	align-items: center
	border-top 1px solid #eeeeee
	border-bottom 1px solid #eeeeee
	margin-top: -1px
	.icon
		tr(all)
		size 8px
		margin-left: 15px
		opacity .3
		cp()
	&:hover
		.icon
			opacity 1
		.category__el-val
			opacity 1

.category__el-item--active
	.icon
		opacity 1
		transform rotate(90deg)
	.category__el-val
		opacity 1

.category__el-name
	@extend .type--md
	font-weight 700
	letter-spacing 0.4px
	width: 70%
	word-break break-all
.category__el-val
	@extend .type--md
	tr(all)
	font-weight 700
	letter-spacing 0.4px
	margin-left: auto
	opacity .3
.category__el-sub
	f()
	cp()
	tr(all)
	justify-content: space-between
	padding: 15px 0
	font-weight 700
	letter-spacing 0.4px
	&:hover
		color $yellow

.category__el-sub-wrapper
	display: none
	width: 100%
.category__el-sub-name
	width: 70%
	word-break break-all
.category__el-sub-val
	padding-right: 25px
.content
	+below(1200px)
		width calc(100% - 290px)
	+below(960px)
		width: 100%
		padding-top: 30px
	width: 75%
.content-title
	up()
	margin-top: 0
	@extend .type--xl
	font-weight 700
	letter-spacing 1.2px
	margin-bottom: 30px
.label
	f()
	fw()
.label__el
	+below(640px)
		margin-right: 10px
		margin-bottom: 10px
	tr(all)
	up()
	padding: 10px 15px
	border-radius 3px
	border 1px solid #d1d1d1
	margin-right: 20px
	font-weight: 700
	opacity: .6
	margin-bottom: 25px

	&:hover
		opacity: 1

.description
	line-height: 1.6
	padding-bottom: 30px
	border-bottom 1px solid $border-color
	margin-bottom: 30px
.sort
	f()
	margin-bottom: 30px
.sort__el
	f()
	align-items: center
	position: relative
	margin-right: 30px
	cp()
.sort__el-name
	font-weight: 700
	margin-right: 10px
.sort__el-icon
	.icon
		size 8px
.sort__el-sub
	position: absolute
	top calc(100% + 20px)
	left 0
	background: white
	padding: 20px
	border 1px solid $border-color
	min-width 150px
	display: none
	z-index 3
	.sytle-input-element
		size 25px
		margin-right: 20px
		border-radius 0
	.check-el
		margin-bottom: 10px
	.sytle-input-text
		font-weight: 700
	.sytle-input
		&:checked ~ .sytle-input-element
			flex(mid)
			color white
			border 1px solid $mark
			.icon-check
				display block
				fill $yellow
				size 16px
//.sort__el-sub-row
//.sort__el-sub-check
//.check-el
.cards
	+below(640px)
		margin-bottom: 30px
	fw()
	f()
	margin-bottom: 50px
.card
	+below(1200px)
		width: calc(100% / 2)
	+below(640px)
		width: 100%
	f()
	fl()
	width: calc(100% / 3)
	border 1px solid $border-color
	margin-left: -1px
	margin-top: -1px
	position: relative
	cp()
	tr(all)
	&:hover
		.card-title
			color $yellow
		.card-sort
			display: flex
.card-img
	bg-full()
	padding: 30% 10%
.card-content
	padding: 25px
.card-title
	@extend .type--md
	font-weight 700
	letter-spacing 0.4px
	text-transform uppercase
	margin-bottom: 10px
	line-height: 1.6
	tr(all)
.card-descr
	line-height: 1.6
	margin-bottom: 15px
.card-info
	margin-bottom: 50px

.card-info-row
	f()
	justify-content: space-between
	margin-bottom: 2px
	font-size: 12px
.card-info-name
	opacity: .7
	width: 48%
.card-info-val
	width: 48%
	text-align: left
.card-option
	+below(768px)
		height: 56px
	cp()
	.icon
		size 10px
	border-top 1px solid $border-color
	border-bottom 1px solid $border-color
	padding: 20px 0
	bottom: 0
	background: white
	height: 58px
	overflow: hidden
	transition top .5s
	z-index 10
.card-option--active
	+below(640px)
		height: calc(100% - 10px)
	top -1px
	left 0
	margin-bottom: 20px
	width: 100%
	position: absolute
	height: calc(100% + 35px)
	overflow: initial
	padding: 20px
	.open
		display: none
	.close
		display: block!important
	.card-option-toggle
		.icon
			transform rotate(90deg)
//.card-option-wrap

.card-option-toggle
	f()
	fw()
	justify-content: space-between
	align-items: center
.card-container
	position: relative
.card-option__title
	font-weight:700
	//.open
	.close
		display: none
	cp()
.options
	margin-top: 20px
	width: 100%
.option__el
	.sytle-input-text
		margin-top: -3px
	.sytle-input-element
		margin-right: 20px
	.style-label
		align-items: flex-start
	.sytle-input-element
		size 20px
	.check-el
		margin-bottom: 15px
.option-price
	display: block
	font-weight: 700
	margin-top: 5px
.card-footer
	flex(between)
	padding: 0 20px 20px 20px
	margin-top: auto
.card-price
	font-size: 22px
	font-weight 700
	letter-spacing 0.6px
.card-get
	@extend .btn--md
	@extend .btn--mark
	width: 120px
	padding: 14px 10px

.card-sort
	position: absolute
	z-index 5
	f()
	top: 12px
	right: 12px
	display: none
	.card-sort__el
		size 32px
		flex(mid)
		border 1px solid $border-color
		br(3px)
		margin-left: 12px
		&:hover
			.icon
				fill $yellow
		.icon
			size 14px
			tr(all)

.incr
	+below(768px)
		margin-bottom: 20px
	f()
	justify-content: space-between
	position relative
	width 120px
	background: black
	border-radius 3px
.incr__nav
	flex(mid)
	tr(background )
	size 44px
	color white
	.icon
		size 12px
		fill #b3b3b3
	&:hover
		cp()
		border 0
		.icon
			fill white
	&:active
		background-color $yellow
.incr__val
	flex(mid)
	position relative
	tr(all)
	color white
	font-weight 400

.hidden
	display: none



.pagination-wrap
	+below(640px)
		padding-bottom: 30px
		margin-bottom: 30px
	flex(between)
	padding-bottom: 50px
	margin-bottom: 50px
	border-bottom 1px solid #eeeeee
.pagination__text
	+below(640px)
		display: none
	font-size: 12px
.pagination
	+below(640px)
		width: 100%
	f()
.pagination__el
	size 32px
	flex(mid)
	br(3px)
	font-weight:700

.pagination__el--active
	background: black
	color white

.about
	margin-bottom: 30px

.about-wrap
	+below(640px)
		margin-bottom: 30px
	margin-bottom: 80px

.nav-mobile
	+above(1200px)
		display: none
	f()
	align-items: center
	height: 50px
	border-bottom 1px solid #323131
	background: black
	position: relative
	z-index 2
.nav-mobile__toggle
	size 50px
	flex(mid)
	border-right 1px solid #323131
	.icon
		fill white
		size 16px
	.icon-close
		display: none
//.icon-open
.nav-mobile__logo
	font-size: 16px
	color white
	font-weight: 700
	up()
	padding: 0 15px
.nav-mobile__search
	size 50px
	flex(mid)
	margin-left: auto
	border-left 1px solid #323131
	cp()
	.icon
		fill $yellow
		size 18px
.nav-mobile__basket
	size 50px
	flex(mid)
	border-left 1px solid #323131
	cp()
	position: relative
	.icon
		size 18px
		fill $yellow
	.nav-mobile__basket-val
		position: absolute
		size 18px
		round()
		border 1px solid black
		background: $yellow
		top 5px
		right: 5px
		flex(mid)
		color black
		font-size: 10px

.mobile-toggle
	flex(between)
	cp()
	tr(all)
	font-size: 14px
	font-weight: 700
	padding: 15px
	border-bottom 1px solid #f6f6f6
	.icon
		tr(all)
		size 10px

.mobile-toggle--filter
	+above(1201px)
		display: none

.mobile-toggle--cat
	+above(960px)
		display: none
	width: calc(100% + 20px)
	margin-left: -10px
	margin-right: -10px

.mobile-toggle--active
	background: $yellow
	.mobile-toggle__name
		color white
	.icon
		fill white
		transform rotate(-180deg)

//slide menu
.head-toggle
	size 50px
	flex(mid)
	cp()
	.icon
		size 25px
		fill white
	.icon-close
		display: none

.head-toggle--open
	.icon-close
		display: block
	.icon-open
		display: none

.slide-menu
	+above(1200px)
		display: none !important
	+below(640px)
		top: 50px //Высота хедера
	+below(480px)
		width: 100%
	background: black
	color white
	position: fixed
	height: calc(100% - 50px) //Отступ хедер
	z-index 1250
	top 50px
	left 0
	width: 320px
	transform translateX(-100%)
	tr(all)
.slide-menu--open
	transform translateX(0%)
	overflow-y: auto
.slide-menu__list
	margin-bottom: 40px

.body-fix
	position: fixed!important
	overflow-Y: scroll!important
	width:100%!important

//.slide-menu
.slide-menu__block
	border-top 1px solid #323131
	border-bottom 1px solid #323131
	margin-top: -1px
	padding: 30px 40px
.slide-menu__title
	font-weight: 700
	font-size: 14px
	opacity: .3
	up()
	margin-bottom: 20px
.slide-menu__cat
	margin-bottom: 20px
	flex(between)
	&:last-child
		margin-bottom: 0
	.icon
		fill white
		size 14px
.slide-menu__cat-name
	up()
	color white
	font-size: 18px
	font-weight: 700
.slide-menu__el
	f()
	margin-bottom: 30px
	font-size: 16px
	&:last-child
		margin-bottom: 0
.slide-menu__el-icon
	size 16px
	margin-right: 20px
	.icon
		size 16px
		fill $yellow

.slide-menu__el-name
	color white
	up()
	font-weight: 700
//.slide-menu__list
.slide-menu__list-el
	color white
	margin-bottom: 10px
	display: block
	font-size: 14px
.slide-menu__location
	flex(mid)
	padding: 20px 0
.slide-menu__location-icon
	margin-right: 20px
	.icon
		size 14px
		fill $yellow
.slide-menu__location-name
	font-size: 16px
.slide-menu__phone
	display: block
	color white
	font-weight: 700
	font-size: 18px
	margin-bottom: 20px
	&:last-child
		margin-bottom: 0